<section class="pricing-section">
  <h2>Coaching Packages</h2>
  <p>Choose the package as per your goal.</p>

  <div class="pricing-cards">
    <div class="pricing-card">
      <h3>12 Weeks</h3>
      <p class="price">7,000</p>
      <button (click)="openModal('Basic Plan')">Choose Plan</button>
    </div>

    <div class="pricing-card popular">
      <h3>16 Weeks</h3>
      <p class="price">9,500</p>
      <button (click)="openModal('Standard Plan')">Choose Plan</button>
    </div>

    <div class="pricing-card">
      <h3>6 Months</h3>
      <p class="price">12,000</p>
      <button (click)="openModal('Premium Plan')">Choose Plan</button>
    </div>

    <div class="pricing-card">
      <h3>Yearly</h3>
      <p class="price">20,000</p>
      <button (click)="openModal('Elite Plan')">Choose Plan</button>
    </div>
  </div>

  <!-- Includes Toggle -->
  <div class="includes-toggle">
    <button (click)="toggleIncludes()">
      {{ includesVisible() ? 'Hide Details' : 'What it Include ?' }}
    </button>
  </div>

  <!-- Includes Box -->
  <div class="includes-box" *ngIf="includesVisible()">
    <ul>
      <li>Personalised Workout Plan</li>
      <li>Custom Diet Plan (Veg/Non-Veg)</li>
      <li>Weekly Check-ins & Adjustments</li>
      <li>24*7 Whatsapp Support</li>
      <li>Supplement Guidance</li>
      
    </ul>
  </div>

  <!-- Checkout Modal -->
  <app-checkout-modal
    *ngIf="isModalOpen()"
    [planName]="selectedPlan()"
    (close)="closeModal()"
  ></app-checkout-modal>
</section>
