<div class="sidebar-backdrop" *ngIf="isOpen" (click)="closeSidebar()"></div>

<div class="sidebar" [class.open]="isOpen">
    <div class="close-btn" (click)="closeSidebar()">✕</div>
    <nav class="sidebar-links">
        <a routerLink="/" (click)="closeSidebar()">Home</a>
        <a routerLink="/services" (click)="closeSidebar()">Services</a>
        <a routerLink="/our-work" (click)="closeSidebar()">Our Work</a>
        <a routerLink="/pricing" (click)="closeSidebar()">Pricing</a>
        <a routerLink="/review" (click)="closeSidebar()">Review</a>
        <a routerLink="/vlogs" (click)="closeSidebar()">Vlogs</a>
        <a routerLink="/certification" (click)="closeSidebar()">Certificates</a>
        <a href="https://diet-saas-eta.vercel.app" target="_blank" rel="noopener noreferrer">
  Buy Diet Plan</a>
    </nav>
</div>


